<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <directoryBrowse enabled="false" />

      <rewrite>
        <rules>
          <rule name="Hide Yii Index" stopProcessing="true">
            <match url="." ignoreCase="false" />
            <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" appendQueryString="true" />
          </rule> 
        </rules>
		<outboundRules>
			<rule name="crew-inc server">
				<match serverVariable="RESPONSE_SERVER" pattern=".+" />
				<action type="Rewrite" value="Ubuntu" />
			</rule>
			
			<rule name="Response_X-POWERED-BY">
				<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
				<action type="Rewrite" value="Ubuntu" />
			</rule>
		</outboundRules>
      </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>